/**/
/*importando fontes do google fonts*/
@import url("https://fonts.googleapis.com/css2? family = Baloo + Da + 2: wght @ 400; 500; 600; 700; 800 & família = Josefin + Placa: itálico, peso @ 0,100; 0,200; 0,400; 0,500; 0,600; 1.100; 1.200; 1.300; 1.500; 1.600; 1.700 &família = Verde: itálico, peso @ 0,200; 0,300; 0,400; 0,500; 0,600; 1,200; 1,300; 1,400; 1,500 & display = swap");
/*Importando icones do fontawesome*/
/*para importar os icones do site fontawesome tem que pegar o link de importamento no site cdnjs.com*/
/*com a importação feita, somente colocando a  classe(pega no site https://fontawesome.com/v4.7.0/icons/ clicando no icone desejado) eu importo o icone que quero*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
    /*quando se coloca o asteristico quer dize que essa configuração será para toda a pagina*/
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

/*criação de variavel*/
:root {
    --font-primary: "Baloo   Da   2", serif;
    /*o nome da variavel é --font-primary e recebe o nome da fonte*/
    --font-secudaria: 'Courier New', Courier, monospace;
    --color-primary: #6a3093;
}


.hamburguer {
    background-color: transparent;
    width: 0.5rem;
    height: 0.5rem;
    /*diz que a posição do icone de hamburger será fixa*/
    position: fixed;
    /*essa propriedade faz referencia a prioridade que esse elemento terá na pilha, como ele está 100 ele será exibido a cima de tudo, acima da foto de fundo*/
    z-index: 100;
    /*isso aqui diz a posição que ele ficará, esse right e top diz respeito aop tamanho da borda*/
    right: 0.5rem;
    top: 0.5rem;
    /*esses tres atributos dizem que as linhas ficaram em formato de coluna, uma de baixo da outra*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    /* transition: all 1.2s; */
}

.hamburguer:hover {
    opacity: 0.6;
}

.line {
    width: 100%;
    background-color: white;
    height: 0.4px;
    box-shadow: 0.1px 0.1px 0.7px black;
    transition: 0.5s; /*QUANDO SE VAI FAZER UMA TRANSFORMAÇÃO POR MEIO DE JV, E VC QUER UM DETERMINADO TEMPO DE DEMORA PARA SER EXECUTADO A TRANSFORMAÇÃO VC MUDA O TRANSFORM NA CLASSE PAI*/
}

.hamburguer span{
    position: absolute;
    left: 0.7rem;
    background-color: var(--color-primary);
    color: white;
    font-size: 4px;
    font-family: var(--font-secudaria);
    width: 1.0rem;
    height: 0.3rem;
    display: flex;   /*permite mexer no texto do span*/
    justify-content: center;/*alinha na verdical*/
    align-items: center;/*alinha na horizontal*/
    margin-bottom: 3px;
    opacity: 0;
}
.hamburguer span::before{ /*é a seta do span, ele é tipo um sub elemento*/
  content: "";
  position: absolute;
  border-right: 2px solid var(--color-primary);
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  left: -0.3rem;
  
}
.show-menu .hamburguer:hover span{ /*Aqui ele executa quando o show-menu estiver ativo e quando o hamburguer estiver com o houver*/
    opacity: 1;
}

.show-menu #line2 {
    /*quando a classe show menu é adicionada no container por meio do JS a linha 2 que é a do meio do hamburguer desaparece*/
    opacity: 0;
    visibility: hidden;
}

.show-menu #line1 {
    /*quando a classe show menu é adicionada no container por meio do JS a linha 1 gira para forma um x e ela usa uma animação de opacidade*/
    transform: rotate(45deg) translate(.0px, .45px);
    

}

.show-menu #line3 {
    /*quando a classe show menu é adicionada no container por meio do JS a linha 3 gira para forma um x e ela usa uma animação de opacidade*/
    transform: rotate(-45deg) translate(2.3px, -3px);
   
}

header {
    width: 100%;
    height: 100vh;
    /*quando se coloca o vh ele diz que a altura será a altura da visualização da pagina, ou seja, vai ocupar tudo, até que se role para baixo*/
    overflow: hidden;
    /*Desabilita a possibilidade do cabecalho passar do tamanho da janela. em outras palavras, desabilita a possibilidade de gerar a barra para mover para a lateral*/
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    /*coloca um black groud na div para a imagem não ser auterada*/
}

.img-wrapper img {
    /*to selecioando todas as imagens que estão dentro da classe img-wrapper*/
    width: 100%;
    /*Obrigando a imagem a se adaptar ao img-wrapper*/
    height: 100%;
    object-fit: cover;
    /*faz com que a imagem cubra o div e no caso o head tbm*/
    opacity: 0.5;
    /*trata a opacidade da imagem*/
    /*animation: nome, duração, */
    /*tá dizendo que vai acontecer a animação zoom criada no @keyframes por 10 segundos*/
    animation: zoom 10s;
}

/*to criando um key frame que basicamente é um evento que vai acontecer, eu digo lá dentro que no 0% vou dá um zoom de 30% e no 100% de carregamento da pagina o zoom vai estar igual a imagem padrão*/
@keyframes zoom {
    0% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    /*colocando em posição absuluta para poder ficar em cima da imagem, porem para usar o absolute, a div que cobre tem que ser obrigatoriamente relative*/
    top: 23%;
    left: 3%;

    /* animation: moveBanner 1s ;chamando o key frame moveBanner para ser execultado em 1 s */
}

/*esse key frame vai ser para o texto vim de baixo*/
@keyframes moveBanner {
    0% {
        /*ele desce 5 rem no translatey para baixo(para o eixo y do plano cartesiano). No rotatey ele roda no eixoy -30 graus */
        transform: translatey(1.5rem);
        /*rotatey(-30deg)*/
        opacity: 0;
        /*No 0% ele não vai aparecer, no 100% ele vai aparecer*/
    }

    100% {
        transform: translatey(0) rotatey(0);
        opacity: 1;
    }

}

.banner h1 {
    color: white;
    /*rem é a unidade de medida que segue o padrão de tamanho de fonte do navegador ou seja 2 rem é 32px, pois por padrão o normal dos navegadores é 16px*/
    font-size: 0.8rem;
    /*px deixa o texto sempre do msm tamanho, o rem é resposivo*/
    /*a linha abaixo eu estou chamando a variavel --font-primary que contem dentro dela a fonte que quero usar aqui*/
    font-family: var(--font-primary);
    /*é a força do negrito, o peso que ele tem*/
    font-weight: 300;
    /*Sombra no h1*/
    text-shadow: 0.1rem 0.1rem 2px rgba(0, 0, 0, 15);
    line-height: 1rem;
    /*altura da linha*/
    margin-bottom: 0.3rem;
    /*espaçamento para o elemento de baixo*/
    animation: moveBanner 1s;
    /*animation vai entrar com 1 segundo*/
     transition: 1s;
   

}
.show-menu header h1{ /*diminuir o tamanho da fonte quando o menu abrir*/
    font-size: 0.6rem;
}

.banner p { /*diminuir o tamanho da fonte quando o menu abrir*/
    color: white;
    font-family: var(--font-secudaria);
    font-size: 0.7rem;
    text-shadow: 0.1rem 0.1rem 2px rgba(0, 0, 0, 15);
    margin-bottom: 1rem;
    animation: moveBanner 1.5s;
    transition: 1s;
    /*animation vai entrar com 1.5 segundo*/
}
.show-menu header p{ /*diminuir o tamanho da fonte quando o menu abrir*/
    font-size: 0.5rem;
}

.banner button {
    font-family: "Muli", garamond;
    color: white;
    /*Site onde se encontra blackgroud color em degrade é o uigradients*/
    background-color: #6a3093;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a044ff, #6a3093);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*Margin interna do botão, .3 será aplicado em cima e embaixo e o .8 será dos lados*/
    padding: .1rem .3rem;
    border: none;
    /*nenhuma borda no botão*/
    font-size: 7px;
    /*Deixar o texto em caixa alta*/
    text-transform: uppercase;
    /*espaçamento entre as letras do button*/
    letter-spacing: 0.2px;
    /*borda do botão*/
    border-radius: 4px;
    /*esse é um cursor que ao passar no botão ele indica que isso é para ser clicado*/
    cursor: pointer;
    animation: moveBanner 2s;
    /*animation vai entrar com 2 segundo*/
    transition: 1s;
}
.show-menu header button{ /*diminuir o tamanho do botão quando o menu abrir*/
    font-size: 5px;
    padding: 0.1rem .2rem;
    letter-spacing: 0.2px;
}

/*Essa configuração indica que irá acontecer quando o mouse for passado no button*/
.banner button:hover {
    opacity: 0.6;
    color: black;

}

/*========================formatação do menu lateral================================*/
.sidebar {
    width: 3.3rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    /*vou usar a interação aqui, então esse fixo não vale muito*/
    top: 0;
    right: -5rem;
    /* animation: MoveMenusaida 1s; */
    transition: all 0.6s;
}

/*aqui se coloca o .show-menu antes, pois ele está aplicado na classe pai(container) de sinebar*/
.show-menu .sidebar {
    /*quando eu uso .sedebar eu to acessando a classe sinebar, quando eu coloco .sinebar.show-menu eu to acessando a classe show-menu que é de sinebar ESSA CLASSE ESTÁ SENDO CHAMADA NO JAVACRIPT*/
    right: 0;

}

/*aqui se coloca o .show-menu antes, pois ele está aplicado na classe pai(container) de hambuguer*/
.show-menu .hamburguer {
    margin-right: 2rem;
}

.menu {
    /*ul*/
    /*posição absulute diz que o conteudo ficará ali, porém ele não é fixo como no fixed que mantem ele indeendente de barra de rolagem*/
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translatex(-50%);
}

.menu-item {
    /*li*/
    text-align: justify;
    margin-bottom: -2px;
}

.menu-link {
    /*a*/
    font-size: 0.3rem;
    /*Chamando fonte secundaria*/
    font-family: var(--font-secudaria);
    color: #555;

}

.menu-link:hover {
    opacity: 0.8;
    color: var(--color-primary);
    font-weight: bold;
    transition: var(--color-primary)2s;
}

.social-media {
    position: absolute;
    bottom: 0.4rem;
    width: 100%;
    display: flex;
    /*destribui os elementos pela linha*/
    justify-content: space-evenly;
    /*ele dá um espaço entre os itens automatico*/



    /* transform: translate(-50%, -50%); */
}

.social-media i {
    /*Como o icon é um icone de fonte, tem que editar o tamanho dele por meio do font size*/
    font-size: 0.3rem;
    width: 0.5rem;
    height: 0.5rem;
    padding: 2px 1px 0px 1px;
    text-align: center;
    color: white;
    background-color: var(--color-primary);
    border-radius: 5px;

}

.social-media i:hover {
    opacity: 0.6;

}


/**/